.footer {
    width: 100%;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    color: #ffffff;
    background-color: #000000;
    padding: 50px 48px 30px;
    position: relative;
    z-index: 2;
    box-sizing: border-box;
}

.footer-row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1100px;
    margin: 0 auto 30px auto;
}

.footer-logo {
    width: 125px;
    height: 125px;
}

.footer-icons {
    display: flex;
    align-items: center;
    gap: 30px;
}

.social-icon {
    height: 40px;
    width: 40px;
    object-fit: contain;
    transition: transform 0.2s;
}

.footer-icons a:hover .social-icon {
    transform: scale(1.14);
}

.footer-credit {
    text-align: center;
    font-size: 16px;
    letter-spacing: 1px;
    max-width: 1100px;
    margin: 0 auto;
}


@media (max-width: 900px) {
    .footer {
        padding: 40px 24px 20px;
    }

    .footer-row {
        flex-direction: column;
        gap: 20px;
    }

    .footer-icons {
        gap: 20px;
    }
}

@media (max-width: 600px) {
    .footer {
        padding: 30px 16px 15px;
    }

    .footer-logo {
        width: 80px;
        height: 80px;
    }

    .footer-credit {
        font-size: 14px;
        padding: 0 10px;
    }
}