@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;800&family=Orbitron:wght@400;700;900&display=swap');

.pagewrapper {
    transition: background-color 0.3s ease;
}

.footer h3 {
    font-family: 'Montserrat', 'Roboto', Arial, Helvetica, sans-serif;
    size: 18px;
    line-height: 28px;
    font-weight: 600 !important;
}

.pagewrapper.home-bg {
    background-color: #ffffff;
}

.pagewrapper.other-bg {
    background-color: #000000;
}

.footer {
    width: 100%;
    z-index: 10;
    background-color: #1c1c1c !important;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    padding: 56px 72px 24px 72px;
    color: #ffffff;
    box-sizing: border-box;
    font-family: sans-serif;
    position: relative;
}

.footer-main-content {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    max-width: 1256px;
    margin: 0 auto;
    gap: 3px;
}

.footer-logo {
    width: 200px;


    height: auto;
}

.footer-links-container {
    display: flex;
    justify-content: center;
    gap: 72px;
}

.footer-column {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.footer-column h3 {
    font-size: 18px;
    font-weight: 700;
    gap: 48px;
}

.footer-column a,
.footer-column p {
    font-family: 'Inter', sans-serif;
    font-weight: 500 !important;
    line-height: 22px !important;
    text-align: justify !important;


    color: #ffffff;
    margin: 0;
    opacity: 0.9;
    transition: opacity 0.12s;
}

.footer-column a:hover {
    opacity: 1;
    color: #3490eb;
}

.footer-bottom {

    margin-top: 32px;
    font-size: 14px;
    opacity: 0.6;
    text-align: left;
}

.heart {
    color: #3490eb;
}

@media (max-width: 1024px) {
    .footer {
        padding: 40px 32px 32px;
    }

    .footer-links-container {
        gap: 40px;
    }
}

@media (max-width: 768px) {
    .footer-main-content {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .footer-links-container {
        flex-wrap: wrap;
        justify-content: center;
        gap: 30px;
    }

    .footer-bottom {
        text-align: center;
    }
}