* {
    box-sizing: border-box;
}

.app-navbar {
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 32px;
    background: #000;

    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 9999;
}

.app-navbar-logo {
    width: 85px;
    height: 85px;
    border-radius: 50%;
    object-fit: cover;
    border: 2px solid transparent;
}

.app-navbar-links {
    display: flex;
    gap: 30px;
}

.app-navbar-links a {
    color: #fff;
    text-decoration: none;
    font-size: 15px;
    letter-spacing: 1px;
    font-weight: 500;
    transition: color 200ms ease;
}

.app-navbar-links a:hover {
    color: #2983e6;
}

.app-hamburger {
    display: none;
    background: none;
    border: none;
    cursor: pointer;
    padding: 5px;
    z-index: 10000;
}

.app-hamburger svg {
    display: block;
    stroke: #ffffff !important;
    width: 32px;
    height: 32px;
}

@media (max-width: 900px) {
    .app-navbar {
        padding: 10px 20px;
    }

    .app-navbar-links {
        display: none;
    }

    .app-hamburger {
        display: block;
    }

    .app-navbar-links.open {
        display: flex;
        flex-direction: column;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100vh;
        background-color: rgba(0, 0, 0, 0.95);
        justify-content: center;
        align-items: center;
        gap: 2rem;
        z-index: 9998;
        animation: fadeIn 0.3s ease-in-out;
    }

    .app-navbar-links.open a {
        font-size: 24px;
        padding: 10px;
        width: 100%;
        text-align: center;
    }

    @keyframes fadeIn {
        from {
            opacity: 0;
        }

        to {
            opacity: 1;
        }
    }
}