* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h2 {
    text-decoration: underline;
}

body,
html,
#root {
    width: 100vw;
    overflow-x: hidden;
    font-family: 'Montserrat', 'Segoe UI', Arial, Helvetica, sans-serif;
    background-color: #000;
    color: #fff;
}

.page-wrapper {
    width: 100vw;
    overflow-x: hidden;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 32px;
    background: transparent;
    width: 100vw;
    z-index: 100;
    top: 0;
    left: 0;
}

.navbar-logo {
    width: 85px;
    height: 85px;
    width: 85;
    top: 24px;
    left: 32px;

}

.navbar-links {
    display: flex;
    gap: 30px;
}

.navbar-links a {
    color: #fff;
    text-decoration: none;
    font-size: 15px;
    letter-spacing: 1px;
    font-weight: 500;
}

.navbar-links a:hover {
    color: #2983e6;
    transition: cubic-bezier(0.895, 0.03, 0.685, 0.22);
    transition-duration: 200ms;
}

.hero-section {
    background: #1c1c1c;
    width: 1400px;
    height: 600px;
    display: flex;
    flex-direction: column;
    position: relative;
    box-sizing: border-box;
    height: 50%;
}

.super-bold {
    font-size: 6vw;
    font-weight: 800;
    letter-spacing: 8px;
    color: #fff;
}

.hero-subtitle {
    font-size: 4vw;
    font-weight: 600;
    letter-spacing: 24px;
    display: block;
    color: #fff;
}

.hero-spline-wrapper spline-viewer {
    width: 100%;
    height: 320px;
    display: block;
    border-radius: 18px;
    overflow: hidden;
    background: transparent;
}

.hero-spline-bg {
    width: 100vw;
    height: 88vh;              /* Full viewport height */
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    background-color: #000000;  /* fallback bg */
}

.hero-spline-bg img {
    width: 150vw;
    height: 55vh;              /* Full viewport height */
    
    object-position: center;    /* Center image */
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0;           /* Optional: remove any rounding */
    user-select: none;          /* Prevent image selection */
    -webkit-user-drag: none;    /* Disable dragging on webkit browsers */
}

.hero-tagline {
    font-size: 1.3rem;
    letter-spacing: 2px;
    margin-top: 0;
    margin-bottom: 12px;
    font-weight: 400;
    color: #fff;
}

.bounce-indicator {
    position: absolute;
    bottom: 50px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 1rem;
    color: #fff;
    opacity: 0.85;
    letter-spacing: 2px;
    user-select: none;
    display: flex;
    align-items: center;
    gap: 8px;
    animation: bounceSequence 3s cubic-bezier(.27, .86, .51, 1.18) infinite;
}

.scroll-arrow {
    width: 24px;
    height: 24px;
    stroke: #fff;
}

@keyframes bounceSequence {
    0% {
        transform: translate(-50%, 0);
        opacity: 1;
    }

    5% {
        transform: translate(-50%, -30px);
    }

    10% {
        transform: translate(-50%, 0);
    }

    14% {
        transform: translate(-50%, -22px);
    }

    18% {
        transform: translate(-50%, 0);
    }

    21% {
        transform: translate(-50%, -13px);
    }

    24% {
        transform: translate(-50%, 0);
    }

    28% {
        transform: translate(-50%, -6px);
    }

    32% {
        transform: translate(-50%, 0);
        opacity: 1;
    }

    33%,
    60%,
    100% {
        opacity: 1;
    }
}

.about-section {
    background: #fff;
    color: #000;
    width: 1400px;
    height: 457px;
    padding-top: 64px;
    padding-right: 48px;
    padding-bottom: 64px;
    padding-left: 48px;
    gap: 48px;

}

.about-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 600;
height: 276;
gap: 32px;

    box-sizing: border-box;
}

.about-text {
width: 600px;
height: 135;
font-family: Roboto;
font-weight: 400;
font-style: Regular;
font-size: 18px;
line-height: 150%;
letter-spacing: 10%;
text-transform: capitalize;

}

.about-text h2 {
    width: 600px;
height: 54px;
font-family: Roboto;
font-weight: 500;
font-style: Medium;
font-size: 36px;
line-height: 150%;
letter-spacing: 4%;

    color: #000;
}

.about-text p {
width: 600px;
height: 135px;

font-family: Roboto;
font-weight: 400;
font-style: Regular;
font-size: 18px;
line-height: 150%;
letter-spacing: 10%;
text-transform: capitalize;

    color: #1f1f1f;
}

.learn-more-btn {
   width: 140px;
height: 47px;
padding-top: 10px;
padding-right: 16px;
padding-bottom: 10px;
padding-left: 16px;
gap: 10px;
border-radius: 8px;

    background: #3e7da6;
    color: #fff;
    
}

.learn-more-btn:hover {
    background: #3a6f9e;
}

.about-image {
    flex: 1;
    text-align: right;
    width: 635px;
    height: 329px;
    object-fit: fill;
    border-radius: 11px;
    display: block;
    background: #fff;
}


.projects-section {
    background: #fff;
    color: #000;
    padding: 70px 0;
    width: 100vw;
    box-sizing: border-box;
}

.projects-section h2 {
    width: 189px;
height: 72px;


  font-family: Roboto;
font-weight: 500;
font-style: Medium;
font-size: 36px;
line-height: 150%;
letter-spacing: 4%;
text-transform: capitalize;

    margin-right: auto;
    color: #000;
}

.projects-grid {
    display: flex;
  width: 1400px;
height: 416.3443908691406px;
justify-content: space-between;
padding-right: 48px;
padding-left: 48px;

}

.project-card {
    position: relative;
    width: 624px;
    height: 416px;
    box-shadow: 0 8px 28px rgba(0, 0, 0, 0.13);
    border-radius: 11px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: box-shadow 0.3s ease, transform 0.3s ease;
    cursor: pointer;
}

.project-card img {
    width: 100%;
    height: auto;
    max-height: 320px;
    object-fit: fill;
    border-radius: 11px;
    display: block;
}

.project-card:hover {
    box-shadow: 0 0 15px 3px #3a6f9e;
    transform: translateY(-6px);
    transition-duration: 500ms;
}

@media (max-width: 900px) {

    .about-content,
    .projects-grid {
        flex-direction: column;
        align-items: center;
        gap: 36px;
    }

    .about-image {
        text-align: center;
    }

    .project-card {
        width: 100%;
        max-width: 100%;
    }
}


.contact-section {
    position: relative;
    background: #fff;
    color: #000;

gap: 64px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 96px 0px 96px 0px;
    overflow-x: hidden;
    overflow-y: visible;
}

.contact-img {
    position: absolute;
    z-index: 2;
    width: 110px;
    height: auto;
    pointer-events: none;
    opacity: 0.92;
}

.plane-top-left {
    top: 40px;
    left: 30px;
    transform: rotate(-10deg);
width: 200px;

}

.drone-bottom-left {
     bottom: 56px;
    left: 50px;
    width: 100px;
    height: 103px;
}

.plane-top-right {
    top: 30px;
    right: 40px;
    transform: rotate(15deg);
width: 200px;
height: 100px;

}

.plane-bottom-right {
    bottom: 56px;
    right: 50px;
   
    width: 200px;
    height: 100px;
    transform: rotate(-15deg);
}

.contact-card {
    position: relative;
    background: #fff;
    color: #111;
    padding: 48px 38px 40px;
    border-radius: 16px;
    box-shadow: 0 12px 38px rgba(0, 0, 0, 0.14);
    max-width: 420px;
    width: 95%;
    margin: 0 auto;
    z-index: 3;
    text-align: center;
}

.contact-card h4 {
    font-size: 1.08rem;
    font-weight: 500;
    color: #333;
    margin-bottom: 7px;
    letter-spacing: 1px;
}

.contact-card h2 {
    font-size: 2rem;
    font-weight: 700;
    color: #111;
    margin-bottom: 24px;
    letter-spacing: 2px;
    text-decoration: underline;
}

.contact-form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.form-row {
    display: flex;
    gap: 12px;
}

.form-row input {
    flex: 1;
}

.contact-form input,
.contact-form textarea {
    background: #f6f6f8;
    border: 1.8px solid #d1d9e6;
    border-radius: 6px;
    padding: 12px 14px;
    font-size: 1rem;
    margin-bottom: 0;
    outline: none;
    transition: border 0.2s;
    width: 100%;
    color: #000;
}

.contact-form input:focus,
.contact-form textarea:focus {
    border-color: #3a6f9e;
}

.contact-form textarea {
    resize: vertical;
    min-height: 85px;
    max-height: 220px;
    font-family: inherit;
    color: #000;
}

.submit-btn {
    background:#3E7DA6;
;
    color: #fff;
    font-weight: 600;
    letter-spacing: 2px;
    border: 1px;
    border-radius: 7px;
    padding: 13px;
    margin-top: 8px;
    font-size: 1rem;
    cursor: pointer;
    transition: background 0.2s;
}

.submit-btn:hover {
    background: #3a6f9e;
}

@media (max-width: 700px) {
       .about-content,
    .projects-grid {
        flex-direction: column;
        align-items: center;
        gap: 36px;
    }

    .about-image {
        text-align: center;
    }

    .project-card {
        width: 100%;
        max-width: 100%;
    }
}


.contact-section {
    position: relative;
    background: #fff;
    color: #000;

gap: 64px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 96px 0px 96px 0px;
    overflow-x: hidden;
    overflow-y: visible;
}

.contact-img {
    position: absolute;
    z-index: 2;
    width: 110px;
    height: auto;
    pointer-events: none;
    opacity: 0.92;
}

.plane-top-left {
    top: 40px;
    left: 30px;
    transform: rotate(-10deg);
width: 200px;

}

.drone-bottom-left {
     bottom: 56px;
    left: 50px;
    width: 100px;
    height: 103px;
}

.plane-top-right {
    top: 30px;
    right: 40px;
    transform: rotate(15deg);
width: 200px;
height: 100px;

}

.plane-bottom-right {
    bottom: 56px;
    right: 50px;
   
    width: 200px;
    height: 100px;
    transform: rotate(-15deg);
}

.contact-card {
    position: relative;
    background: #fff;
    color: #111;
    padding: 48px 38px 40px;
    border-radius: 16px;
    box-shadow: 0 12px 38px rgba(0, 0, 0, 0.14);
    max-width: 420px;
    width: 95%;
    margin: 0 auto;
    z-index: 3;
    text-align: center;
}

.contact-card h4 {
    font-size: 1.08rem;
    font-weight: 500;
    color: #333;
    margin-bottom: 7px;
    letter-spacing: 1px;
}

.contact-card h2 {
    font-size: 2rem;
    font-weight: 700;
    color: #111;
    margin-bottom: 24px;
    letter-spacing: 2px;
    text-decoration: underline;
}

.contact-form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.form-row {
    display: flex;
    gap: 12px;
}

.form-row input {
    flex: 1;
}

.contact-form input,
.contact-form textarea {
    background: #f6f6f8;
    border: 1.8px solid #d1d9e6;
    border-radius: 6px;
    padding: 12px 14px;
    font-size: 1rem;
    margin-bottom: 0;
    outline: none;
    transition: border 0.2s;
    width: 100%;
    color: #000;
}

.contact-form input:focus,
.contact-form textarea:focus {
    border-color: #3a6f9e;
}

.contact-form textarea {
    resize: vertical;
    min-height: 85px;
    max-height: 220px;
    font-family: inherit;
    color: #000;
}

.submit-btn {
    background:#3E7DA6;
;
    color: #fff;
    font-weight: 600;
    letter-spacing: 2px;
    border: 1px;
    border-radius: 7px;
    padding: 13px;
    margin-top: 8px;
    font-size: 1rem;
    cursor: pointer;
    transition: background 0.2s;
}

.submit-btn:hover {
    background: #3a6f9e;
}

.navbar-links a:focus,
.learn-more-btn:focus,
.submit-btn:focus {
    outline: 2px solid #2983e6;
    outline-offset: 2px;
}

html {
    scroll-behavior: smooth;
}

.gallery-item,
.project-card {
    transform: translateZ(0);
}

.footer {
 width: 1400;
height: 395;
border-top-left-radius: 25px;
border-top-right-radius: 25px;
color: #ffffff;
background-color: #1c1c1c;

}

.footer-row {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    gap: 56px;
    max-width: 1100px;
    margin: 0 auto 14px auto;
}

.footer-logo {
    width: 125px;
height: 125px;
top: 50.66px;
left: 75px;


}

.footer-icons {
    display: flex;
    align-items: center;
    gap: 250px;
}

.social-icon {
    height: 40px;
    width: 40px;
    object-fit: contain;
    transition: transform 0.2s;
}

.footer-icons a:hover .social-icon {
    transform: scale(1.14);
}

.footer-credit {
    text-align: center;
    font-size: 16px;
    margin-top: 30px;
    letter-spacing: 1px;
}

@media (max-width: 600px) {
    .footer-row {
        flex-direction: column;
        align-items: center;
        gap: 22px;
    }

    .footer-logo {
        margin-right: 0;
        margin-bottom: 10px;
    }

    .footer-credit {
        font-size: 13px;
        margin-top: 18px;
        padding: 0 7px;
    }
}

@media (max-width: 600px) {
    .footer-content {
        flex-direction: column;
        align-items: center;
        gap: 24px;
        text-align: center;
    }

    .footer-links-section {
        flex-direction: row;
        gap: 20px;
        justify-content: center;
    }

    .footer-logo-section {
        justify-content: center;
        margin-bottom: 16px;
    }

    .footer-bottom {
        text-align: center;
    }
}